#wordLi{
    padding-inline-end: 80px;
    max-inline-size: 5px;
    display: inline-block;
    font-size: 16px;
    color:rgb(45, 36, 110);
    margin-left: 20px;

}

#lexName{
    display: inline-block;
    color:rgb(212, 107, 107);
    border: 1px rgba(72, 72, 82, 0.129);
    border-style:solid;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}
#words {
	/* position: fixed; */
	/* width: 100%; */
	/* bottom: 5px; */
	/* border-top: 2px grey; */
	/* border-top-style: solid; */
}
#lexChosenName{
    display: inline-block;
    color:rgb(103, 190, 123);
    border: 1px rgba(72, 82, 79, 0.129);
    border-style:solid;
    margin-right: 5px;
    font-size: 16px;
}
#uncheckedLex{
    display: inline-block;
    color:rgb(38, 39, 38);
    border: 1px rgba(43, 47, 46, 0.129);
    border-style:solid;
    margin-right: 5px;
    font-size: 16px;
}
#pClass{
     
    text-align: center; 
    font-size: 20px;
}